html {
  font-size: 12pt;
}

body {
  background-color: #f3f8f5;
  color: #444;
  line-height: 1.6em;
  font-family: "Helvetica Neue", Helvetic, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 0.2em;
  text-align: center;
  height: 100%;
  width: 100;
}

body > div {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -213px;
}

p {
  display: block;
  margin: 0 auto;
}

::selection {
  background: #ffb7b7;
  color: #000;
}
::-moz-selection {
  background: #ffb7b7;
  color: #000;
}

.face {
  border-radius: 200px; 
  width: 60px;
  height: 60px;
  opacity: 0.55;
}

.name {
  font-size: 350%;
  text-transform: uppercase;
}

.name img {
  display: inline;
  vertical-align: sub;
  margin: 0 -10px 0;
}

.bio-mini {
  margin: 20px 0 0;
}

.bio-mini a, .bio-mini a:link, .bio-mini a:visited {
  text-decoration: none;
  color: #000;
}

.bio-mini a:hover, .bio-mini a:active {
  color: #c44;
}

.code {
  color: #CCC;
  margin: 140px 0 140px;
  font-size: 280%;
}

.parameters {
  position: relative;
  margin-bottom: 50px;
}

.parameters span {
  margin: 0 5px;
  padding-left: 2px;
  padding-bottom: 1px;
}

.parameters span.held {
  border-bottom: 3px solid rgba(204, 68, 68, 0.7);
  border-radius: 4px;
}


.parameters span i {
  opacity: 0.55;
}

.parameters span span, .parameters span.hold:hover span {
  display: none;
}

.parameters span:hover span, .parameters span.held span {
  display: block;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  font-size: 90%;
  letter-spacing: 0.05em;
  color: #c44;
  font-weight: 400;
}

.parameters a {
  color: #c44;
  text-decoration: none;
}
.parameters i {
  font-size: 180%;
}

@media (max-width: 767px) {
  html {
    font-size: 6pt;
  }

  .face {
    border-radius: 100px; 
    width: 30px;
    height: 30px;
  }

  .name {
    text-transform: uppercase;
  }

  .bio-mini {
    font-size: 150%;
  }

  .heart {
    margin: 75px 0 75px;
  }

  .parameters span:hover span, .parameters span.held span {
    top: 50px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    font-size: 70%;
    letter-spacing: 0.05em;
    color: #c44;
    font-weight: 400;
  }
}
